@{
    ViewData["Title"] = "Start";
}


<p>@ViewData["Message"]</p>

<center><h1>Sorry this is now closed. Use the bellow for QR Code Recovery Only.</h1></center>

<form action="/Home/Validate" method="post">
    Your Request Code:<br /><br />
    <input type="text" name="requestcode" value="@ViewData["RequestCode"]" size="45"><br /><br />
    <input type="submit" value="Submit">
</form> 