@{
    ViewData["Title"] = "Validate";
    bool showback = Convert.ToBoolean(ViewData["Back"]);
}

@if (showback == true)
{

    <p><a href="../..">Back you go</a></p>

}
else
{ 


    <p>Your good</p>


}



@{
}
