@{
    ViewData["Title"] = "Validate";
    bool showback = Convert.ToBoolean(ViewData["Back"]);
    bool showpay = Convert.ToBoolean(ViewData["ShowPay"]);
    bool showrecover = Convert.ToBoolean(ViewData["ShowRecover"]);
    int maxbadges = Convert.ToInt32(ViewData["MaxBadges"]);
}

@ViewData["Message"]

@if (showpay)
{

    <p>You can purchase up to @ViewData["MaxBadges"] badges. How many would you like? Badges cost $270 each including $10 to cover credit card and withdraw fees</p>


        <form action="/Home/Pay" method="post">
            @for (int i = 1; i <= maxbadges; i++)
                {<input type="radio" name="BadgeNumber" value="@i" /><b> @i  Badge(s) for a total of $@(i*270)</b> <br />}
                    <br />
            <input type="submit" value="Submit">
        </form>


}

@if (showrecover)
{

    <p>Your code has been previously used, please enter your email addres that you used to pay, and code bellow, and we will resend you QR code to you</p>
    <form action="/Home/Recover" method="post">
        Your Request Code:<br /><br />
        <input type="text" name="requestcode" value="@ViewData["RequestCode"]" size="45"><br /><br />
        Your Email:<br /><br />
        <input type="text" name="email" value="" size="45"><br /><br />
        <input type="submit" value="Submit">
    </form>

}

@if (showback)
{

    <p><a href="../..">Back you go</a></p>

}


@{
}
