@{
    ViewData["Title"] = "Validate";
    bool showback = Convert.ToBoolean(ViewData["Back"]);
    bool showpay = Convert.ToBoolean(ViewData["ShowPay"]);
    bool showrecover = Convert.ToBoolean(ViewData["ShowRecover"]);
    int maxbadges = Convert.ToInt32(ViewData["MaxBadges"]);
    float decPrice = (float)Startup.price / (float)100;
    float fee = (float)Startup.fee / (float)100;

}

@ViewData["Message"]

@if (showpay)
{

    <p>You can order up to @ViewData["MaxBadges"] badges. How many would you like? Badges cost $@((decPrice).ToString("n2")) each including $@((fee).ToString("n2")) to cover stripe fees.</p>


        <form action="/Home/Pay" method="post">
            @for (int i = 1; i <= maxbadges; i++)
                {<input type="radio" name="BadgeNumber" value="@i" /><b> @i  Badge(s) for a total of $@(((float)i*decPrice).ToString("n2"))</b> <br />}
                    <br />
            <input type="submit" value="Submit">
        </form>


}

@if (showrecover)
{

    <p>Your code has been previously used, please enter your email address that you used to pay, and code below, and we will resend your QR code to you.</p>
    <form action="/Home/Recover" method="post">
        Your Request Code:<br /><br />
        <input type="text" name="requestcode" value="@ViewData["RequestCode"]" size="45"><br /><br />
        Your Email:<br /><br />
        <input type="text" name="email" value="" size="45"><br /><br />
        <input type="submit" value="Submit">
    </form>

}

@if (showback)
{

    <p><a href="../..">Back you go</a></p>

}


@{
}
